* {
    margin: 0;
    padding: 0;
}
  
body{
    background-image: url("./media/ep_naturalblack.png");
}

#top, #bottom, #left, #right {
	background: aliceblue;
    position: fixed;
    margin: 15px;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 10px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

.title {
    color: rgb(255, 255, 255);
    font-family: 'Pridi';
    font-size: 8rem;
    margin: 20px 80px 80px 20px;
    text-align: right;
}

.subtitle {
    color: aliceblue;
    font-family: 'B612 Mono';
    font-size: 3rem;
    padding: 50px 50px 10px 50px;
    text-align: justify; 
}

.scroll-icon{
    color: aliceblue;
    font-size: 8rem;
    text-align: center;
    margin: 50px 50px 650px 50px;
}

.scroll-button {
    color: aliceblue;
}

.menu-item1 {
    font-family: 'B612 Mono';
    text-decoration: none;
    font-size: 4rem;
    color: aliceblue;
    margin: 10px;
    position: relative;
    top: -450px;
    left: 100px;
}
.menu-item2 {
    font-family: 'B612 Mono';
    text-decoration: none;
    font-size: 4rem;
    color: aliceblue;
    margin: 20px;
    position: relative;
    top: -200px;
    left: 200px;
}
.menu-item3 {
    font-family: 'B612 Mono';
    text-decoration: none;
    font-size: 4rem;
    color: aliceblue;
    margin: 20px;
    position: relative;
    top: 0px;
    left: 300px;
} 
.footer-text {
    color: aliceblue;
    margin: 20px;
    font-family: 'B612 Mono';
    font-size: 2rem;
}

.footer{
    text-align: right;
    margin: 50px;
}

